.DS_Store
emacs.d/ac-comphist.dat
emacs.d/.python-environments/
emacs.d/eshell/history
emacs.d/eshell/lastdir
emacs.d/projectile-bookmarks.eld
emacs.d/projectile.cache
emacs.d/elpa/*.txt
emacs.d/auto-save-list/
emacs.d/places
emacs.d/smex-items
emacs.d/recentf
emacs.d/email-settings.el
emacs.d/url
emacs.d/tramp
emacs.d/elpa/archives
