.DS_Store
/ac-comphist.dat
/.python-environments/
/eshell/history
/eshell/lastdir
/projectile-bookmarks.eld
/projectile.cache
/elpa/*.txt
/auto-save-list/
/places
/smex-items
/recentf
/email-settings.el
/settings.el
/url
/tramp
/elpa/archives
/bookmarks
/network-security.data
/elpa/gnupg/*
/.org-id-locations
/.emacs.desktop
/.emacs.desktop.lock
/elisp-objects/
/history
*.elc
/elpa/*.signed
/README.el
*.gnupg
/image-dired
/nov-places
/session.*
