(setq mu4e-user-mail-address-list '("anthonyd@example.com"))
(setq mu4e-reply-to-address "anthonyd@example.com"
      user-mail-address "anthonyd@example.com"
      user-full-name  "Anthony DiGirolamo")
(setq mu4e-compose-signature
      (concat
       "Anthony DiGirolamo\n"
       "anthonyd@example.com"))

(setq message-send-mail-function    'smtpmail-send-it
    smtpmail-stream-type          'starttls
    smtpmail-default-smtp-server  "smtp.example.com"
    smtpmail-smtp-server          "smtp.example.com"
    smtpmail-smtp-service         587
    smtpmail-local-domain         "example.com")

(setq
 mu4e-maildir       "~/Mail/anthonyd@example.com"
 mu4e-sent-folder   "/[Example].Sent Mail"
 mu4e-drafts-folder "/[Example].Drafts"
 mu4e-trash-folder  "/[Example].Trash"
 mu4e-refile-folder "/[Example].All Mail")
(setq mu4e-maildir-shortcuts
      '( ("/INBOX"              . ?i)
         ("[Example].Sent Mail" . ?s)))

(add-to-list 'mu4e-bookmarks '("from:awesomedood@example.com" "example from bookmark" ?e))

(setq mu4e-compose-complete-ignore-address-regexp "no-?reply\|via RT")
